body {
    background-color: grey;
    text-align: center;
    font-size: 16px;
    font-family: Georgia;
}
h1 {
    background-color: red;
    border: solid 3px black;
}
h2 {
    background-color: white;
    border: solid 3px black;
    
}

div {
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;

}

#kocsi {
    background-color: grey;
}